h3,
p,
h1 {
  margin: 0;
  padding: 0;
}

.booking__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Imported !important;
  gap: 2rem;
}

.booking__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.booking__nav__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* width: 30%; */
  background-color: #f9fbff;

  border-radius: 0.6rem;
}

.booking__nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: center;
}
.booking__nav__content .active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #a513e2;
  color: #fff;
}

.booking__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  gap: 2rem;
  background-color: #f9fbff;
  /* gap: 0rem; */
  border-radius: 1rem;
  padding: 3rem;
  /* 
  background-image: url("../../public/deliveryimg.svg");
  background-repeat: no-repeat;
  background-position: right !important;
  background-size: contain; */
}

.booking__content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  height: 100%;
  gap: 2rem;
  background-color: #f9fbff;
  /* gap: 0rem; */
  border-radius: 1rem;
  padding: 3rem;
  /* 
  background-image: url("../../public/deliveryimg.svg");
  background-repeat: no-repeat;
  background-position: right !important;
  background-size: contain; */
}
.booking__button,
.booking__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.booking__button > button,
.booking__button1 > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #a513e2;
  color: white;
  padding: 0.8rem 1.2rem;
  gap: 0.3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 30%;
}
.booking__button1 > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #a513e2;
  color: white;
  padding: 0.8rem 1.2rem;
  gap: 0.3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 60%;
}

.pickup__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pickup__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e8e8;
  width: 50%;
  padding: 1.5rem;
  border-radius: 1rem;
}

.pickup__card__content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e8e8;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.pickup__card__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.pickup__card__left p {
  font-size: 15px;
}
.pickup__card__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.up__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  gap: 1rem;
}

.up__main__head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.up__main__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.up__main__form__one {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.up__main__form__two {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.up__main__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.up__main__input > label {
  font-size: 0.9rem;
}

.up__main__input > input {
  /* all: unset; */
  background: #e6e6e6;
  border: 3.26201px solid #e6e6e6;
  padding: 0.6rem;
  border-radius: 0.5rem;
  outline: none;
}

.up__main__input > select {
  /* all: unset; */
  background: #e6e6e6;
  border: 3.26201px solid #e6e6e6;
  padding: 0.6rem;
  border-radius: 0.5rem;
  outline: none;
}

.up__main__input > textarea {
  /* all: unset; */
  background: #e6e6e6;
  border: 3.26201px solid #e6e6e6;
  padding: 0.6rem;
  border-radius: 0.5rem;
  outline: none;
}

.up__btn {
  all: unset;
  background: #262a4e;
  cursor: pointer;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background: #a513e2;
  text-align: center;
  color: white;
}

.up__btn:hover {
  opacity: 0.9;
}

@media screen and (min-width: 1400px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .up__con {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0;
    color: #2f2b2b;
  }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .up__con {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0;
    color: #2f2b2b;
  }

  .up__main__form__two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .avatar__modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    width: 320px;
  }
}

@media screen and (max-width: 360px) {
  .avatar__modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    width: 310px;
  }
}
